<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <ol>
        <% users.forEach(user=> { %>
            <li>
                <%= user.name %>
            </li>
            <% }) %>
        </ol>

</body>

</html>